node_modules
.expo
dist
web-build
build
coverage

android/.gradle
android/build
android/app/build
android/app/.cxx
android/app/.externalNativeBuild

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
